/* Rearrange the furniture for screens wider than 37.5em (i.e. 600px) */


@media ( min-width : 600px) {
	body>* {
		margin: 0 auto;
		max-width: 56.25em;
	}
	ul#features {
		text-align: center;
	}
	ul#features li {
		display: inline-block;
		margin: 2%;
		min-height: 18em;
		text-align: left;
		width: 28%;
	}
}

/* Rearrange the furniture for screens wider than 56.25em (i.e., 900px) */
@media screen and (min-width: 900px) {
	header {
		height: 4em;
	}
}